*{
    margin: 0;
    padding: 0; 
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    background-color:#082032;
    font-size:x-large;
    text-align: center; 
    color: blanchedalmond; 
}

nav{
    color: blanchedalmond;
    background: #334756;
    text-align: center;  
}

nav .menu{
    display:flex;
    justify-content: center;
}

nav .menu li {
    position: relative;
    top: 130%;
}

nav .menu li a {
    display: block;
    padding: 10px;
    background: #334756;
    color: white;
    transition: all 300ms ease;
    padding: 15px;
}

nav .menu li a:hover{
    background: transparent;
    color: #F0A500;
}

nav .submenu li {
    position:absolute;
    top: 130%;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

nav .menu li:hover .submenu li {
    top: 100;
    visibility: visible;
    opacity: 1;
    position: relative;
}

section{    
    background-color:#F0A500;
    grid-column: 1/4;
    text-align: center;
    margin: 0.2%;
    
}

section article p {
    text-align: justify;
    margin: 1%;

}
section article ul li ol {
    text-align: left;
    margin: 3%;
}

aside{
    background-color: #F0A500;
    grid-column: 4/5;
}

footer{
    background-color: #082032;
    color: blanchedalmond;
}

footer h5 {
    display: flex;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}