
body {
    background-color:#082032;
    color: white;
}

body main div{
    background-color:#F0A500
}



footer{
    background-color: #082032;
    color: blanchedalmond;
}

footer p {
    display: flex;
    justify-content: center;
    text-align: center;
}